<div>
  <app-navbar></app-navbar>
  <div>
    <div>
      <div>
        <h1>Profile</h1>
        <h3>
          Username: <b>{{ user.Username }}</b>
        </h3>
        <h3>
          Email: <b>{{ user.Email }}</b>
        </h3>

        <h2>Favorite Movies</h2>
        <mat-list>
          <mat-list-item *ngFor="let movie of FavoriteMovies">
            <img matListItemAvatar src="{{ movie.ImagePath }}" />
            <span matListItemTitle> {{ movie.Title }} </span>
          </mat-list-item>
        </mat-list>
      </div>
      <form>
        <h2>Update Profile</h2>
        <br />
        <mat-form-field>
          <mat-label> Username </mat-label>
          <input
            matInput
            [(ngModel)]="userData.Username"
            type="text"
            name="Username"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label> Password </mat-label>
          <input
            matInput
            [(ngModel)]="userData.Password"
            type="password"
            name="Password"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label> Email </mat-label>
          <input
            matInput
            [(ngModel)]="userData.Email"
            type="email"
            name="Email"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label> Birthday </mat-label>
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            type="date"
            name="Birthday"
          />
        </mat-form-field>

        <br />
        <mat-card-actions>
          <button mat-raised-button (click)="updateUser()">
            Update Profile
          </button>
          <span></span>
          <button mat-fab color="warn" (click)="deleteUserProfile()">
            Delete Profile
          </button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</div>
